<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn About Crypto</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

</head>

<body>
	<div class="topBar">
        <div class="navBar">
            <div class="navBarLink"><a href="/">HOME</a></div>
            <div class="navBarLink"><a href="/predictions">PREDICTIONS</a></div>
            <div class="navBarLink"><a href="/learn">LEARN</a></div>
        </div>
    </div>
	
	<h class="title">LEARN ABOUT CRYPTO</title></h>

    <div class="article">
        <div class="question">
            <h class="heading">WHAT THE HECK IS ARBITRAGE?</h>
            <p class="mainText">Imagine Ryan Reynolds is at school and his friend offers him a candy bar for $1. Now, he
                knows that the same candy bar costs $2 in the school cafeteria.

                So, he buys the candy bar from his friend for $1 and then sells it in the cafeteria for $2. He just made
                $1 profit without doing much! This, in a nutshell, is how arbitrage works.

                Arbitrage is a way of making money where one buys something for a low price in one place and then sells
                it at a higher price somewhere else. The difference in price is profit.

                People do this in financial markets all the time. They buy stocks, currencies, or other commodities at a
                low price on one exchange and sell them at a higher price on another.

                It's like a game of spotting and taking advantage of price differences. But remember, while it sounds
                easy and free of risk, it's not always that simple. Prices can change quickly, and potential profits can
                disappear in an instant.

                Our program identifies current Crypto Arbitrage opportunities across 3 markets and targets 5 different
                cryptocurrencies.
                But what is a cryptocurrency? </p>
        </div>
        <div class="question">
            <h class="heading">WHAT THE HECK IS CRYPTO?</h>
            <p class="mainText">Cryptocurrencies are a digital form of money that exist only in the digital world. They
                are decentralized, which means they are not controlled by any central authority like a government or a
                bank. Instead, they operate on a technology called blockchain.

                Blockchain is like a digital ledger that records all transactions made with cryptocurrencies. It is
                stored on computers all around the world, making it secure and transparent. Each transaction is verified
                by a network of computers called miners who ensure that the transactions are valid.

                The most well-known cryptocurrency is Bitcoin, but there are many others, like Ethereum, Litecoin, and
                Ripple. These cryptocurrencies can be used to buy goods and services, just like traditional money, but
                they are not physical coins or bills. Instead, they exist as digital entries in the blockchain.

                One of the key features of cryptocurrencies is their security. They use cryptography, which is the
                science of secret codes, to secure transactions and control the creation of new units. This makes it
                difficult for anyone to counterfeit or manipulate the currency.

                It's important to note that cryptocurrencies can be volatile, meaning their value can change rapidly.
                Their value is determined by factors like supply and demand, market sentiment, and technological
                advancements. People can buy and sell cryptocurrencies on special online platforms called cryptocurrency
                exchanges.

                It's a fascinating and evolving field, but it's essential to be cautious when dealing with
                cryptocurrencies. It's important to do thorough research, understand the risks involved, and make
                informed decisions before getting involved with them.

                I hope this explanation gives you a basic understanding of cryptocurrencies!</p>
        </div>
        <div class="question">
            <h class="heading">WHAT THE HECK IS MACHINE LEARNING?</h>
            <p class="mainText">A type of artificial intelligence (AI) that allows computers to learn and make
                predictions based on patterns and relationships without being explicitly programmed.
            </p>
        </div>
    </div>
<footer class="footer">
        <p></p>
    </footer>

</body>



</html>
